body {
    background-color: white;
    color: black;
}

header {
    background-color: white;
    color: black;
}

main {
    background-color: white;
    color: black;
}

section {
    color: black;
}

footer {
    color: white;
}