body {
    background-color: white;
    color: black;
}

header {
    background-color: white;
    color: black;
}

main {
    background-color: white;
    color: black;
}

section {    /* sekcija je kao deo stranice tipa e ovo je sekcija za racunare ovo je sekcija za robote itd.. */
    color: black;
}

footer {
    color: white;
}
